<mat-card class="register-card">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2>Register</h2>
  
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" (ngModelChange)="onEmailChange()" required>
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('emailExists')">
          This email is already registered
        </mat-error>
      </mat-form-field>
  
     
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
          Password must be at least 8 characters long
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('pattern')">
          Password must contain at least one uppercase letter, one lowercase letter, and one number
        </mat-error>
      </mat-form-field>
      
  
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid || emailExists">
        Register
      </button>
    </form>
  </mat-card>
  <div class="loader-container" *ngIf="isLoading">
    <div class="loader"></div>
  </div>
  