<div class=" p-3 text-center">
    <h1>Add Accounts</h1>
  </div>
<div class="mt-3 container-fluid">
    @defer (when dataIsLoad) {

        <button mat-fab color="primary" (click)="openDialog()" class="mb-3">
            <mat-icon>add</mat-icon>
        </button>
        <div class="row gap-2">

        @for (item of accounts; track $index) {
            <div class="account-item col-12">
                <mat-card class="account-card">
                    <mat-card-title class="p-3">
                        {{ item.name }}
                        
                    </mat-card-title>
                    <mat-card-content class="d-flex justify-content-end text-success align-items-center">
                        
                        {{ item.balnce | currency }}
                        <button mat-icon-button color="accent" (click)="openEditDialog($index)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        }
    </div>
    <div class="line-progress-bar" [class.show-progress]="showLinebar" [class.hide-progress]="!showLinebar"></div>
<div class="loader-container" *ngIf="isLoading">
    <div class="loader">
    </div>
</div>
}
@placeholder () {
    <ngx-skeleton-loader appearance="line" count="8"/>
  }
  @loading {
    <ngx-skeleton-loader appearance="line" count="8"/>

  }
</div>
