.sidenav-container {
  height: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

@media (max-width: 991px) { /* Adjust this breakpoint if needed */

}
.customClass{
  background-color: #181824!important;
}
.sidenav-container {
  height: 100%;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #181824;
  color: white;
}


.app-name {
  font-size: 24px;
  font-weight: bold;
}

.profile-image {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.user-info {
  text-align: center;
}

.user-name {
  font-weight: bold;
}

.user-role {
  font-size: 12px;
  color: #888;
}

mat-nav-list {
  padding: 0;
}

.nav-header {
  font-size: 12px;
  font-weight: bold;
  color: #888;
  padding: 8px 16px;
  background-color: #333;
}
.font-weight-medium{
  font-family: "Open Sans", sans-serif;
  font-weight: 600
}
mat-list-item {
  padding: 16px;
}

mat-list-item mat-icon {
  margin-right: 16px;
}

.toolbar-spacer {
  flex: 1;
}

.top-nav-toolbar {
  display: flex;
  justify-content: space-between;
}


.spacer {
  flex: 1 1 auto;
}

.flag-icon {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 12px;
  position: relative;
  top: -10px;
  right: 10px;
}
