<div class="about-us-page">
    <section class="mission-section" data-aos="fade-up" data-aos-duration="3000">
      <div class="mission-content">
        <h2>Our Mission</h2>
        <p>
          Our mission is to empower individuals to take control of their finances through comprehensive tools and personalized guidance. We aim to make financial management accessible and straightforward for everyone.
        </p>
      </div>
    </section>
  
    <section class="team-section" data-aos="fade-up" data-aos-duration="3000">
      <h2>Meet Our Team</h2>
      <div class="team-cards">
        <mat-card class="team-card">
          <img mat-card-image src="https://res-console.cloudinary.com/munavvar/thumbnails/v1/image/upload/v1719838363/eHRsMGV4em5uZHdtbmQ3dmNzM2s=/drilldown" alt="Team Member 1" >
          <mat-card-content>
            <h3>Munavvar</h3>
            <p>CEO & Founder</p>
          </mat-card-content>
        </mat-card>
  
     
      </div>
    </section>
  
    <section class="values-section" data-aos="fade-up" data-aos-duration="3000">
      <h2>Our Values</h2>
      <div class="values-cards">
        <mat-card class="value-card">
          <div class="value-icon">
            <mat-icon>accessibility</mat-icon>
          </div>
          <mat-card-content>
            <h3>Accessibility</h3>
            <p>We believe in making financial tools accessible to everyone, regardless of their background.</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="value-card">
          <div class="value-icon">
            <mat-icon>verified</mat-icon>
          </div>
          <mat-card-content>
            <h3>Integrity</h3>
            <p>We maintain the highest standards of integrity in all our actions and interactions.</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="value-card">
          <div class="value-icon">
            <mat-icon>trending_up</mat-icon>
          </div>
          <mat-card-content>
            <h3>Innovation</h3>
            <p>We are committed to continuous innovation to provide the best solutions for our users.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
  