<header>
    <div class="container">
      <div class="logo">
        <img src="https://webapp.fastbudget.app/static/images/app_icon_64.png" alt="Logo">
        <span>Fast Budget</span>
      </div>
      <nav>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/aboutUs']">About us</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/Registration']">Register</a></li>
        </ul>
      </nav>
    </div>
  </header>
  